.backButton {
    display: flex;
    justify-content: flex-start;
    width: 50%;
}
.exitButton {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}
section {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
}
section .profile {
    width: 80%;
    background-color: white;
    padding: 1%;
}
.nickname {
    font-size: 30px;
}
.setting {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.setting input{
    background-color: rgb(209, 209, 209);
}
.setting div div {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5%;
}
.setting1 {
    width: 38%;
}
.setting2 {
    width: 52%;
}
span {
    font-size: 16px;
    margin-right: 2%;
}
.button {
    margin: 2% 0 0 0;
}
.loginButton {
    width: 10%;
    float: right;
    background-color: white;
}
/*PURCHASE HISTORY*/
.history, .profile {
    width: 80%;
    margin-top: 2%;
}
.historyTitle {
    font-size: 30px;
}
.historyBorder img {
   width: 100%;
}
/*ITEM*/
.historyItem {
    display: flex;
    flex-flow: row;
    background-color: white;
    padding: 1%;
    margin-top: 1%;
}
.itemImage {
    width: 15%;
}
.itemImage img {
    width: 100%;
}
.itemText {
    width: 75%;
    padding:  0 1% 1% 1%;
    font-size: 21px;
}
.itemTitle {
    font-size: 28px;
}
.itemNumbers {
    width: 10%;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
}
.itemDate {
    display: flex;
    justify-content: flex-end;
}
.itemPrice {
    display: flex;
    justify-content: flex-end;
    font-style: italic;
    font-size: 24px;
}


